body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #fff!important;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.left-section {
  
  margin: auto;
  left: 0;
  right: 0;
  
  width: 50%;
  height: 70vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-section {
  height: 70%;
  width: 20%;
  margin: auto;
  
  right: 100px;
  width: 30%;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.logoimg {
  margin: 1px auto;
  display: block;
  position: relative;
  top: -30px;
  height: auto;
  max-width: 30%;
  max-height: 30%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  bottom: 10px;
  right: 20px;
  top: -10px;
}
form{
  position: relative;
  left: -70px;
  margin: 20px;
  top: -30px;
}

.input-field {
  width: 120%;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 20px;
}


.input-field i {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 18px;
  color: #1a1d23;
}

.carousel {
  position: relative;
  max-width: 60%;
  max-height: 120%;
  
}



.carousel-indicators {
  position: absolute;
  bottom: -50px !important; 
  color: #312783!important;
  
}


.next{
  background-color: #312783 !important;
  
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  
  top: 30px !important;
  position: relative;
}
.carousel-indicators{
  padding-bottom: 30px !important;
}

.input-field input {
  width: 130%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-size: 16px;
  
}

button[type="login"] {
  width: 157%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #312783;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 20px auto;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

button[type="login"]:hover {
  background-color: #33b7bc;
}

.footer {
  text-align: center;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.input-field{
  position: relative;
  height: 17%;
  
}
.icon{
  position: absolute;
  right: -70px;
  top: 20px;
  color: #312783;
}

@media (max-width: 768px) {
 
  .form-container{
   position: relative;
   bottom: 70px; 
  }
  .input-field{
    margin: 30px;
  }

  .left-section {
    display: none;
    height: 60%;
  }

  .right-section {
    width: 70%;
    height: 60%;
    left: -20px;
    top: -100px;
    border-radius: 0px;
    box-shadow: none;
    
  }
  .input-field{
    min-width: 150%;
  }
  .btn{
    position: relative;
    margin: 30px;
    right: -30px;
    min-width: 195%;
  }
  form{
    top: -90px;
  }

  .logoimg {
    min-width: 50%;
    min-height: auto;
    right: -25px;
    position: relative;
    top: -70px;
  }
  .footer{
    bottom: 10px;
  }
  .icon{
    right: -50px;
  }
}